{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/script.js' %}"></script>
        <title>framework</title>
    </head>
    <body>
        <a href="http://127.0.0.1:8000/accounts/logout/">logout</a>

        <div class="gigacontainer">
            <div class="mainwindow">
                <div class="cookiewindow">
                    <div class="counters">
                        <div id="cookie_number_div">number of cookies: {{cookies}}</div>
                        <div id="level">level: {{level}}</div>
                    </div>
                    <div class="cookiealign">
                        <img src="{% static 'images/Cookie.png' %}" alt="cookie" id="cookie" />
                    </div>
                </div>

                <div class="upgradewindow">upgrades</div>
                <!-- I hate jews -->
                <!--<div>
                    <div>
                        <input id="newcookienumber" type="hidden" value="{{cookies}}" />
                    </div>
                    <div>
                        <input type="hidden" id="grandmanumber" value="{{grandmas}}" />
                    </div>
                    <div>
                        <input type="hidden" id="factorynumber" value="{{factories}}" />
                    </div>
                    <div>
                        <input type="hidden" id="cpsu1" value="{{click_upgrade_1}}" />
                    </div>
                    <div>
                        <input type="hidden" id="cpsu2" value="{{click_upgrade_2}}" />
                    </div>
                    <div>
                        <input type="hidden" id="cpsu3" value="{{click_upgrade_3}}" />
                    </div>
                    <div>
                        <input type="hidden" id="cpsu4" value="{{click_upgrade_4}}" />
                    </div>
                    <div>
                        <input type="hidden" id="levelnumber" value="{{level}}" />
                    </div>
                    <div><button id="submit">Save</button></div>
                </div>-->
            </div>
        </div>
    </body>
</html>
